header .container {
    display: flex;
    justify-content: space-between;
    width: 330px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #1A73E8;
    border-radius: 5px;

}

.arrow {
    color: #6A6A6A;
    position: absolute;
    margin: 12px;
    width: 24px;
    height: 24px;
}

input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}

button {
    height: 48px;
    width: 35px;
    background: transparent;
    border-style: none;
}

main .options {
    display: grid;
    width: 300px;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main div.options img {
    align-items: center;
}

img:hover {
    cursor: pointer;
}

main div ul#lists {
    background-color: #E8E8E8;
}


