@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul: #007EC3;
    --texto: 'Roboto', sans-serif;
}
.main{
    font-family: var(--texto);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertas-criticos-banner {
    width: 100%;
    padding:.5em;   
    height: fit-content;
    background: #FFFFFF;
}

.alertas-criticos-banner  h4 {
    color: red;
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 14px;
    line-height: 16.54px;
}

.alertas-criticos-info{
    margin-bottom: .5em;
    line-height: 15.23px;
    font-size: 13px;
}

.alertas-criticos-action{
    display: flex;
    justify-content: space-between;
}

.alertas-criticos-call {
    font-weight: bold;
    font-size: 14px;
    line-height: 16.41px;
}