#Mais {
    background-image: url(../assets/imgs/tela_app2.png);
    height: 100vh;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn {
    content: url(../assets/imgs/meuFarmaceutico.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    right: 60px;
    bottom: 70px;
}